body{
  width: 80%;
  margin: 50px auto;
  border: 2px solid purple;
  text-align: center;
  font-size: 1.3em;
}

section{
}

h1{

  font-size: 2em;
  margin: auto;
}

button{
  padding: 1em;
  font-size: 0.5em;
  border-radius: 50px;
}
.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
